@model List<WebApplication1.Models.ProductOptionViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <thead><tr>
    
    <th>Product Option</th>
</tr></thead>
    <tbody>
       @foreach (var group in Model)
       {
    <tr>
        <th colspan="3">@group.CategoryId</th>
    </tr>
           foreach (var book in group.ProductOptions)
           {
               <tr>
                   <td>@book.Name</td>
               </tr>
           }
       }
    </tbody>
</table>

